<div class="container">
  <h2>Welcome back to Ticketpower!</h2>
  <h3>Please login below</h3>

  <%= form_for :signin do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login", class: "btn btn-primary"%>
  <% end %>
</div>

