<h2>Create your Ticketpower Account</h2>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label "How many credits would you like to add to your account? (1-20)" %>
  <%= f.text_field :account_balance %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Create account" %>
<% end %>
