<div class="container">
  <h2>Create your Ticketpower Account</h2>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label "How many credits would you like to add to your account?" %>
    <%= f.text_field :account_balance %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
    <br>
    <%= f.submit "Create account!", class: "btn btn-primary" %>
  <% end %>
</div>
