<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to "&laquo; Previous".html_safe, concert_path(@previous_concert), {class: "btn btn-primary btn-sm"} %>
    </div>
    <div class="col-md-6">
      <%= link_to "Next &raquo;".html_safe, concert_path(@next_concert), {class: "btn btn-primary btn-sm"} %>

    </div>
  </div>
  <br>
    <h2 class="concertName">Information for <%= @concert.name %></h2>

  <ul class="list-group-flush">
    <li class="list-group-item concertDate">Date: <%= @concert.formatted_date %></li>
    <li class="list-group-item concertVenue">Venue: <%= @concert.venue %></li>
    <li class="list-group-item concertGenre">Genre: <%= @concert.genre %></li>
  </ul>

  <% if current_user %>
    <% if current_user.account_balance >= @concert.ticket_prices.min %>
      <%= form_for(@ticket, url: concert_tickets_path(@concert)) do |f| %>
        <%= f.label "Select a price" %>
        <%= f.select :price, @concert.ticket_prices %>
        <br>
        <%= f.submit "Buy a ticket", class: "btn btn-primary btn-sm" %>
      <% end %>
    <% else %>
      <%= "Account balance is less than ticket price" %>
    <% end %>
    <br>

    <div class="concert-review">
      <h3><strong>Leave a Review!</strong></h3>
      <div class="row">
        <%= form_for @review do |f| %>
          <div class="col-sm-4">
            <%= f.label "Title " %>
            <%= f.text_field :title %>
          </div>
          <div class="col-sm-4">
            <%= f.label "Body" %>
            <%= f.text_area :body %>
          </div>
          <%= f.hidden_field :concert_id, value: @concert.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="col-sm-4">
            <%= f.submit "Leave Review", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>

  <h3>Reviews for <%= @concert.name %></h3><br>
  <ul id="review-list" class="list-group" data-url="<%= reviews_path(concert_id: @concert.id) %>">
  </ul>

</div>
