<%= link_to "Back", concerts_path %>

<h2>Information for <%= @concert.name %></h2>

<p>Date: <%= @concert.formatted_date %></p>
<p>Venue: <%= @concert.venue %></p>
<p>Genre: <%= @concert.genre %></p>


<% if current_user.account_balance > @concert.ticket_prices.min %>
  <%= form_for(@ticket, url: concert_tickets_path(@concert)) do |f| %>
    <%= f.label "Select a price" %>
    <%= f.select :price, @concert.ticket_prices %>
    <%= f.submit "Buy a ticket" %>
  <% end %>
<% else %>
  <%= "Account balance is less than ticket price" %>
<% end %>
