<div class="container">
  <%= link_to "Back", concerts_path, role: "button", class: "btn btn-primary btn-sm" %>
  <br>
  <br>

  <h2>Information for <%= @concert.name %></h2>
  <ul class="list-group-flush">
    <li class="list-group-item">Date: <%= @concert.formatted_date %></li>
    <li class="list-group-item">Venue: <%= @concert.venue %></li>
    <li class="list-group-item">Genre: <%= @concert.genre %></li>
  </ul>

  <% if current_user %>
    <% if current_user.account_balance >= @concert.ticket_prices.min %>
      <%= form_for(@ticket, url: concert_tickets_path(@concert)) do |f| %>
        <%= f.label "Select a price" %>
        <%= f.select :price, @concert.ticket_prices %>
        <br>
        <%= f.submit "Buy a ticket", class: "btn btn-primary btn-sm" %>
      <% end %>
    <% else %>
      <%= "Account balance is less than ticket price" %>
    <% end %>
    <br>

    <div class="concert-review">
      <h3>Leave a Review!</h3>
      <%= form_for @review do |f| %>
        <%= f.label "Title" %>
        <%= f.text_field :title %>
        <%= f.label "Body" %>
        <%= f.text_area :body %>
        <%= f.hidden_field :concert_id, value: @concert.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
  <div id="reviewResults">
    <h4 class="reviewTitle"></h4>
    <p class="reviewBody"></p>
  </div>

</div>
